<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Admin/Login.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!--<add name="Admin/SendWaybill" virtualUrl="~/([A-Za-z0-9_]+)(/){0,}.\b(htm|html|shtml|aspx|asp|php|jsp|cgi|action)\b" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Admin/SendWaybill/Edit.aspx" ignoreCase="true"/>-->
      <!--<add name="Content" virtualUrl="~/([A-Za-z0-9_]+)(/){0,}.\b(htm|html|shtml|aspx|asp|php|jsp|cgi|action)\b" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Content.aspx?pageName=$1" ignoreCase="true"/>-->
      <add name="Admin" virtualUrl="~/Admin/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Admin/xiangmu/shouye.aspx" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <appSettings>
    <add key="Conn" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source="/>
    <add key="sdkappid" value="1400199613"/>
    <add key="appkey" value="822f3843b140ecaac79c1ffed18d5955"/>
    <add key="fahuotmplId" value="307985"/>
     </appSettings>
  <connectionStrings/>
  <system.web>
    <!--信任等级，Full为赋予所有权限，默认不需要设置-->
    <!--<trust level="Medium" />-->
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>

    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>

    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <!--如需要自定义错误页面和404页面，用以下设置-->
    <!--<customErrors mode="RemoteOnly"  defaultRedirect="Error.html">
      <error statusCode="403" redirect="Error.html" />
      <error statusCode="404" redirect="Error404.html" />
    </customErrors>-->
    <sessionState timeout="3600"/>
    <!--默认用上面的就可以了，下面的设置让Session存放在独立的进程中，可以防止Session意外丢失（需要服务商开启ASP.NET State Server）。mode的值有InProc、StateServer、SQLServer-->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="3600" />-->
    <httpRuntime maxRequestLength="1073741824" executionTimeout="3600" requestPathInvalidCharacters="" requestValidationMode="2.0" />

    
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
      
    </webServices>
    
    
   
  </system.web>
 

</configuration>
